/* Lattice */

/* Lattice > WidthContainer > PositionContainer */
.lattice .grid {
  padding: 30px;
  grid-template-rows: repeat(3, 1fr);
}

.lattice .grid > *:first-child {
  grid-column: 1 / span 3;
}

.lattice .grid > *:nth-child(2) {
  grid-column: 1 / span 2;
}

/* Lattice > WidthContainer > PositionContainer > Cards */
.lattice .card > i {
  margin-right: 20px;
}

/* /Lattice */