/* Tablets and under */
/* Applied for range [0px, 950px] */

@media(max-width: 950px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  /* Head > WidthContainer > PositionContainer > TextContainer */
  .head .grid > *:first-child {
    text-align: center;
  }

  /* Head > WidthContainer > PositionContainer > Image */
  .head .grid > *:nth-child(2) {
    justify-self: center;
  }

  /* Subhead > WidthContainer > PositionContainer > TextContainer */
  .sub-head .grid > *:first-child {
    text-align: center;
  }

  /* Subhead > WidthContainer > PositionContainer > Image */
  .sub-head .grid > *:nth-child(2) {
    justify-self: center;
  }

  /* Lattice > WidthContainer > PositionContainer */
  .lattice .grid > *:first-child,
  .lattice .grid > *:nth-child(2) {
    grid-column: 1;
  } 

  /* Lattice > WidthContainer > PositionContainer > Cards */
  .lattice .card.flex {
    justify-content: left;
  }
}