/* Tablets and under */
/* Applied for range [0px, 950px] */

@media(max-width: 950px) {
  .head .grid,
  .docs-main .grid,
  footer .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  /* Head > WidthContainer > PositionContainer > TextContainer */
  .head .grid > *:first-child {
    text-align: center;
  }

  /* Head > WidthContainer > PositionContainer > Image */
  .head .grid > *:nth-child(2) {
    justify-self: center;
  }

}