@import '../../components/button.css';
@import '../../components/card.css';

@import './home-navbar.css';
@import './home-showcase.css';
@import './home-stats.css';
@import './home-cli.css';
@import './home-cloud.css';
@import './home-languages.css';
@import './home-footer.css';
@import './home-animations.css';

@import './responsive/home-mobile.css';
@import './responsive/home-tablet.css';